---
title: "Reading"
layout: default
---

{% for year, books in books_by_year.items() %}
    {% if year == 'Earlier' %}
    <h2>Earlier <span class="book__pages">{{ pages_per_year[year] }} pages in total</span></h2>
    {% elif current_year == year %}
    <h2>{{ year }} <span id="pagesThisYear" class="book__pages"></span></h2>
    {% else %}
    <h2>{{ year }} <span class="book__pages">{{ (pages_per_year[year] / 365.25) | round(1) }} pages per day</span></h2>
    {% endif %}
    <table class="books__table">
    {% for book_row in books | batch(4) %}
            <tr>
                {% for book in book_row %}
                <td>
                    <a target="_blank" href="{{ book.link }}"><img alt="{{ book.title }}" class="book__cover" src="{{ book.cover }}" /></a>
                </td>
                {% endfor %}
            </tr>
    {% endfor %}
    </table>
{% endfor %}

<script type="text/javascript">
var pages = {{ pages_per_year[current_year] }};
var now = new Date();
var start = new Date(now.getFullYear(), 0, 0);
var diff = now - start;
var oneDay = 1000 * 60 * 60 * 24;
var day = Math.floor(diff / oneDay);
var pagesPerDay = Math.round(pages/day * 10) / 10;

document.getElementById("pagesThisYear").innerHTML = pagesPerDay + " pages per day";
</script>
